<div class="page-header">
  <h2>The Gallery  <small>A collection of my favorite art pieces</small></h2>
</div>

<!-- create block to interate each image in status model-->
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/cheese.png", :class => "img-responsive", :alt => "...") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/koi1.png", :class => "img-responsive", :alt => "...") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/koi2.png", :class => "img-responsive", :alt => "...") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>