<div class="page-header">
  <h2>Welcome to StencilZoo!</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="thumbnail">
        <%= image_tag("elelphant_blur.png", :class => "indexthumbnail") %>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="thumbnail">
        <%= image_tag("elelphant_blur_light.png", :class => "indexthumbnail") %>
      </a>
    </div>
  </div>
</div>

