<div class="page-header">
  <h2>Welcome to StencilZoo!</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <a href="http://stencilzoo.tumblr.com/" class="thumbnail">
      <%= image_tag("elelphant_blur.png", :class => "img-responsive", :alt => "Tumblr") %>
    </a>
  </div>
  <div class="col-md-6">
    <a href="/gallery1" class="thumbnail">
      <%= image_tag("elelphant_blur_light.png", :class => "img-responsive", :alt => "Gallery") %>
    </a>
  </div>
</div>


