<div class="page-header">
  <h2>Welcome to StencilZoo!</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <a href="#" class="thumbnail">
        <img src="300x200.png" width="200" height="300" alt="...">
      </a>
    </div>
  </div>
</div>

