<div class="page-header">
  <h2>Welcome to StencilZoo!</h2>
</div>
<div>
  <ul class="thumbnails">
    <li class="span6">
      <a href="#" class="thumbnail size_600_400">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
    
  </ul>
</div>

