<div class="page-header">
</div>

<div class="row">
    <div class="col-md-6">
      <a href="http://stencilzoo.tumblr.com/" class="thumbnail">
        <%= image_tag("stencilzoo_tumblr.png", :class => "img-responsive", :alt => "Tumblr") %>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/gallery1" class="thumbnail">
        <%= image_tag("drips1_gallery.png", :class => "img-responsive", :alt => "drips1") %>
      </a>
    </div>
</div>


