<div class="page-header">
</div>

<!-- Sample Image Thumbnail with lightbox functionality
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/****.png", :class => "img-responsive", :alt => "...") %>
      <div class="caption">
        <h3>Image Label</h3>
        <p>...and description...wxh</p>
        <p><a href="/assets/gallery/****.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
-->